body {
    font-family: 'Hind', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-weight: normal;
    font-style: italic;
}

.fa { transition: color 0.25s ease; }
a:hover > .fa-github { color: #4078C0; }
a:hover > .fa-linkedin { color: #0077B5; }
a:hover > .fa-google-plus { color: #DC4E41; }
a:hover > .fa-facebook { color: #3B5998; }
a:hover > .fa-envelope { color: #7c7c7c; }

footer > a:link, a:visited {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}
